# Dependencies
node_modules
npm-debug.log

# Build
dist
build
.next
out
.cache

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.sublime-workspace
*.sublime-project

# Misc
.DS_Store
*.pem
coverage
*.log
